
  .player-action {
    padding: .5rem;
    font-size: 1.05rem;
    transition: color .25s;
    margin-right: 0.5rem;
    width: 7rem;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
  }
  
  .player-action:hover {
    color: rgba(265, 265, 265, .5);
  }
  